/*
# /*/
!code
!.gitignore
!.gitattributes
!README.md

GameAiMgr*
code/cpu_code/actor/code/algorithms/checkpoint/*
*.pyc
code/cpu_code/actor/code/eval_ai
code/cpu_code/script/config.conf
code/cpu_code/script/cpu.iplist
code/gpu_code/learner/checkpoints
code/gpu_code/learner/model/init
code/gpu_code/learner/model/train/graph.pbtxt
code/gpu_code/script/config.conf
code/gpu_code/learner/tool/config.conf
code/tests/remote*
code/tests/*log
*.zip
*.tgz
*.tar
*.done